<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Coche</title>
</head>
<body>
<h1>Coche</h1>
<form th:action="@{/coche}" th:object="${coche}" method="post">
	 <!-- Campo oculto para el ID del coche -->
    <input type="hidden" name="id" th:value="*{id}" />
    Marca: <input type="text" th:field="*{Marca}" />
    Matricula: <input type="text" th:field="*{Matricula}" />
	Color: <input type="text" th:field="*{Color}" />
    <input type="submit" value="Guardar" />
</form>
</body>
</html>