<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Coches</title>
</head>
<body>
    <h1>Lista de Coches</h1>
    <div th:each="coche : ${coches}">
		<p th:text="${coche.getMarca()}">Marce del coche</p>
		<p th:text="${coche.getMatricula()}">Matricula del coche</p>
		<p th:text="${coche.getColor()}">Color del coche</p>
		<!-- Enlace para editar -->
		<a href="@{/coche/editar/{id}(id=${coche.id})}">Editar</a>
		<!-- Enlace para eliminar-->
		 <a th:href="@{/coche/eliminar/{id}(id=${coche.id})}" th:onclick="'return confirm(\'' + '¿Estás seguro de que quieres eliminar este coche?' + '\')'">Eliminar</a>
	</div>
	
	<!-- Enlace para agregar un nuevo producto -->
	<a th:href="@{/coche/nuevo}">Agregar Nuevo Coche</a>
</body>
</html>
